.view-frame {
  display: block;
  height: 800px;
}
.profile {
  margin: 15px 5%;
  min-height: 800px;
  border: solid 1px lightgrey;
}
.profile .profile_left {
  margin: 10px 2%;
  width: 15%;
  float: left;
}
.profile .profile_left .profile_left_top {
  min-height: 300px;
  border-bottom: solid 2px darkgray;
  margin-bottom: 15px;
}
.profile .profile_left .profile_left_top .profile_left_top_title {
  font-size: 18px;
  height: 45px;
  border-bottom: solid 1px lightgray;
}
.profile .profile_left .profile_left_top .profile_left_top_item {
  width: 100px;
  margin-left: 20px;
  padding: 10px 0px;
}
.profile .profile_left .profile_left_top .profile_left_top_item li {
  cursor: pointer;
  list-style: none;
}
.profile .profile_left .profile_left_bottom .profile_left_bottom_newest {
  margin: 5px 0px;
  list-style: none;
  margin-left: 20px;
}
.profile .profile_left .profile_left_bottom .profile_left_bottom_newest li {
  color: cornflowerblue;
  padding: 5px 0px;
  font-size: 14px;
}
.profile .profile_right {
  width: 75%;
  float: left;
}
.profile .profile_right .profile_right_home .profile_right_home_top {
  height: 200px;
  padding: 20px;
}
.profile .profile_right .profile_right_home .profile_right_home_top .profile_right_home_top_profile {
  height: 160px;
  width: 100%;
  padding: 15px;
  border: solid 1px;
}
.profile .profile_right .profile_right_home .profile_right_home_top .profile_right_home_top_profile .profile_right_home_top_profile_avatar {
  width: 30%;
  height: 120px;
  /* margin: 15px; */
  float: left;
}
.profile .profile_right .profile_right_home .profile_right_home_top .profile_right_home_top_profile .profile_right_home_top_profile_avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
}
.profile .profile_right .profile_right_home .profile_right_home_top .profile_right_home_top_profile .profile_right_home_top_profile_info {
  float: left;
  width: 70%;
  height: 120px;
}
.profile .profile_right .profile_right_home .profile_right_home_top .profile_right_home_top_profile .profile_right_home_top_profile_info li {
  list-style: none;
  padding: 8px;
}
.profile .profile_right .profile_right_info {
  margin: 25px;
}
.profile .profile_right .profile_right_info .profile_right_info_btn {
  height: 80px;
}
.profile .profile_right .profile_right_info .profile_right_info_btn .profile_right_info_btn_edit {
  line-height: 20px;
  display: block;
  float: right;
  position: relative;
  overflow: hidden;
  padding: 10px 32px;
  font-size: 0.9375em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border: 0;
  outline: 0;
  border-image-width: 0;
  border-radius: 3px;
  background-color: #8ac249;
  margin-right: 15px !important;
  color: #fff;
  text-decoration: none;
}
.profile .profile_right .profile_right_info .profile_right_info_btn .profile_right_info_btn_save {
  line-height: 20px;
  display: none;
  float: right;
  position: relative;
  overflow: hidden;
  padding: 10px 32px;
  font-size: 0.9375em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border: 0;
  outline: 0;
  border-image-width: 0;
  border-radius: 3px;
  background-color: #8ac249;
  margin-right: 15px !important;
  color: #fff;
  text-decoration: none;
}
.profile .profile_right .profile_right_info li {
  list-style: none;
  margin: 10px 0px;
}
.profile .profile_right .profile_right_info .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px lightgrey;
  margin-bottom: 48px;
}
.profile .profile_right .profile_right_msg {
  margin: 55px 25px;
  border-top: solid 1px lightgray;
}
.profile .profile_right .profile_right_msg .profile_right_msg_title {
  margin: 10px 0px;
}
.profile .profile_right .profile_right_msg .profile_right_msg_title span {
  border-bottom: solid 2px lightgreen;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info {
  height: 60px;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info .profile_right_msg_list_info_avatar {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  border: solid 1px lightgray;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info .profile_right_msg_list_info_desc {
  float: left;
  margin: 5px 20px;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info .profile_right_msg_list_info_desc li {
  list-style: none;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info .profile_right_msg_list_info_desc .msg {
  margin: 10px 10px;
  font-size: 14px;
}
.profile .profile_right .profile_right_msg .profile_right_msg_list .profile_right_msg_list_info .profile_right_msg_list_info_desc .msg span {
  background-color: #38978D;
  height: 8px;
  width: 8px;
  float: left;
  margin: 7px;
}
.profile .profile_right .profile_right_feedback {
  margin: 55px 25px;
  border-top: solid 1px lightgray;
}
.profile .profile_right .profile_right_feedback .profile_right_feedback_title {
  margin: 10px 0px;
}
.profile .profile_right .profile_right_feedback .profile_right_feedback_title span {
  border-bottom: solid 2px lightgreen;
}
.profile .profile_right .profile_right_feedback .profile_right_feedback_form textarea {
  width: 100%;
  height: 120px;
  font-size: 14px;
}
.profile .profile_right .profile_right_feedback .profile_right_feedback_form input {
  line-height: 20px;
  display: block;
  float: right;
  position: relative;
  overflow: hidden;
  padding: 10px 32px;
  font-size: 0.9375em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border: 0;
  outline: 0;
  border-image-width: 0;
  border-radius: 3px;
  background-color: #8ac249;
  margin-right: -5px !important;
  color: #fff;
  text-decoration: none;
}
