.view-frame {
  display: block;
}
.company {
  margin: 10px 5%;
  min-height: 280px;
}
.company .company_nav {
  color: darkgrey;
  margin-bottom: 15px;
  font-size: 12px;
}
.company .company_filter {
  border: solid 1px lightgray;
  min-height: 150px;
  font-size: 13px;
}
.company .company_filter .company_filter_area {
  width: 100%;
  float: left;
}
.company .company_filter .company_filter_area .company_filter_area_title {
  width: 10%;
  text-align: center;
  padding: 5%;
  float: left;
}
.company .company_filter .company_filter_area .company_filter_area_val {
  float: left;
  width: 80%;
  padding-top: 10px;
}
.company .company_filter .company_filter_area .company_filter_area_val div {
  width: 60px;
  text-align: center;
  float: left;
  margin: 5px;
  border: solid 1px lightgrey;
  padding: 3px;
  cursor: pointer;
}
.company .company_filter .company_filter_type {
  width: 100%;
  float: left;
  padding-top: 5px;
}
.company .company_filter .company_filter_type .company_filter_type_title {
  width: 10%;
  text-align: center;
  padding: 5%;
  float: left;
}
.company .company_filter .company_filter_type .company_filter_type_val {
  float: left;
  width: 80%;
  padding-top: 10px;
}
.company .company_filter .company_filter_type .company_filter_type_val div {
  width: 60px;
  text-align: center;
  float: left;
  margin: 5px;
  border: solid 1px lightgrey;
  padding: 3px;
}
.company .company_main {
  min-height: 500px;
  width: 100%;
  margin-top: 10px;
}
.company .company_main .company_main_left {
  float: left;
  width: 70%;
}
.company .company_main .company_main_left .company_main_left_info {
  height: 200px;
  width: 100%;
  margin: 0 0 15px 0;
  border: solid 1px lightgray;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_logo {
  width: 40%;
  height: 100%;
  float: left;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_logo img {
  padding: 10px;
  height: 170px;
  width: 100%;
  cursor: pointer;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc {
  width: 50%;
  float: left;
  padding: 0px 25px;
  height: 186px;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_name,
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_date,
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_type_ {
  margin: 10px 0px;
  font-size: 15px;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_foot {
  margin-top: 18px;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_foot img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  padding: 1px;
}
.company .company_main .company_main_left .company_main_left_info .company_main_left_info_desc .company_main_left_info_desc_foot .pageView {
  float: right;
}
.company .company_main .company_main_right {
  width: 28%;
  float: right;
  height: 380px;
  border: solid 1px lightgray;
}
.company .company_main .company_main_right .news_header {
  text-align: center;
  padding-bottom: 20px;
  color: red;
  font-family: cursive;
}
.company .company_main .company_main_right .news {
  width: 80%;
  padding: 0px 5%;
}
.company .company_main .company_main_right .news .news_title {
  color: mediumslateblue;
  padding-left: 20px;
  min-height: 30px;
  width: 100%;
  overflow-wrap: break-word;
  float: left;
  padding-right: 10px;
}
.company .company_main .company_main_right .news .news_time {
  float: right;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.company .company_main .company_main_nav .company_main_nav_pages {
  margin: 10px 0px;
}
.company .company_main .company_main_nav .company_main_nav_pages li {
  line-height: 2px;
  list-style: none;
  float: left;
  margin: 2px 10px;
  font-size: 15px;
  border-bottom: solid 1px lightgrey;
  padding: 8px 5px;
}
.company .company_main .company_main_nav .company_main_nav_pages nav {
  position: relative;
  width: 100%;
  height: 50px;
}
.company .company_main .company_main_nav .company_main_nav_pages .pagination {
  right: 0px;
  position: absolute;
  top: -30px;
}
.company .company_main .company_main_nav .company_main_nav_pages nav li {
  cursor: pointer;
}
.company .company_main .company_main_nav .company_main_nav_go {
  float: right;
  line-height: 2px;
}
