<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atongmu.mvc.dao.ExhibitorMapper">

    <select id="getExhibitors" resultType="com.atongmu.mvc.model.Exhibitor" parameterType="java.util.Map">

        select e_id, e_logo, e_type, e_address, e_city, e_people, e_website, e_created_time, e_updated_time from atm_exhibitors



        <if test=" type != null or city !=null ">
          where
            <if test=" type != null">
                e_type = #{type}
            </if>

            <if test=" city != null">
                and e_city = #{city}
            </if>

        </if>

        order by e_created_time limit #{count};



    </select>

    <select id="getExhibitorById" resultType="com.atongmu.mvc.model.Exhibitor" parameterType="map">
        select * from atm_exhibitors where e_id = #{id};
    </select>


</mapper>