<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atongmu.mvc.dao.RoleMapper">

    <select id="getRoles" resultType="com.atongmu.mvc.model.Role" parameterType="map">
        select r_id, r_name from atm_roles;
    </select>


</mapper>