<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atongmu.mvc.dao.UserMapper">

    <select id="getUserById" resultType="com.atongmu.mvc.model.User" parameterType="map">
        select * from atm_users where u_id = #{id};
    </select>

    <update id="updateUserById" parameterType="user" useGeneratedKeys="true" keyProperty="u_id">

        update atm_users set u_avatar = #{u_avatar}, u_desc = #{u_desc}, u_address = #{u_address}, u_updated_time = DEFAULT where u_id = #{u_id};

    </update>




</mapper>