<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 别名 -->
    <typeAliases>
        <typeAlias type="com.atongmu.mvc.model.CompanyInfo" alias="CompanyInfo"/>
        <typeAlias type="com.atongmu.mvc.model.CompanyHistory" alias="CompanyHistory"/>
        <typeAlias type="com.atongmu.mvc.model.Newest" alias="Newest"/>
        <typeAlias type="com.atongmu.mvc.model.Event" alias="Event"/>
        <typeAlias type="com.atongmu.mvc.model.Exhibitor" alias="Exhibitor"/>
        <typeAlias type="com.atongmu.mvc.model.Designer" alias="Designer"/>
        <typeAlias type="com.atongmu.mvc.model.Company" alias="Company"/>
        <typeAlias type="com.atongmu.mvc.model.User" alias="User"/>
        <typeAlias type="com.atongmu.mvc.model.Role" alias="Role"/>
        <typeAlias type="com.atongmu.mvc.model.Notification" alias="Notification"/>
        <typeAlias type="com.atongmu.mvc.model.Feedback" alias="Feedback"/>
    </typeAliases>

    <!-- 数据库配置 -->

    <!-- <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
                <dataSource type="POOLED">
                    <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
                    <property name="driver"  value="oracle.jdbc.driver.OracleDriver"></property>
                    <property name="username" value="lyx"></property>
                    <property name="password" value="lyx"></property>
                </dataSource>
        </environment>
    </environments> -->

    <!-- 配置sql映射文件 -->
    <mappers>
        <mapper resource="mybatis/mapper/CompanyInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/CompanyHistoryMapper.xml"/>
        <mapper resource="mybatis/mapper/NewestMapper.xml"/>
        <mapper resource="mybatis/mapper/EventMapper.xml"/>
        <mapper resource="mybatis/mapper/ExhibitorMapper.xml"/>
        <mapper resource="mybatis/mapper/DesignerMapper.xml"/>
        <mapper resource="mybatis/mapper/CompanyMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/RoleMapper.xml"/>
        <mapper resource="mybatis/mapper/NotificationMapper.xml"/>
        <mapper resource="mybatis/mapper/FeedbackMapper.xml"/>
    </mappers>



</configuration>