<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 别名 -->
    <typeAliases>
        <typeAlias type="com.atongmu.mvc.model.CompanyInfo" alias="CompanyInfo"/>
    </typeAliases>

    <typeAliases>
        <typeAlias type="com.atongmu.mvc.model.CompanyHistory" alias="CompanyHistory"/>
    </typeAliases>

    <!-- 数据库配置 -->

    <!-- <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
                <dataSource type="POOLED">
                    <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
                    <property name="driver"  value="oracle.jdbc.driver.OracleDriver"></property>
                    <property name="username" value="lyx"></property>
                    <property name="password" value="lyx"></property>
                </dataSource>
        </environment>
    </environments> -->

    <!-- 配置sql映射文件 -->
    <mappers>
        <mapper resource="mybatis/mapper/CompanyInfoMapper.xml"/>
    </mappers>


    <mappers>
        <mapper resource="mybatis/mapper/CompanyHistoryMapper.xml"/>
    </mappers>

</configuration>