.header {
  height: 250px;
}
.header .header_title {
  height: 40px;
  width: 100%;
  border-bottom: solid 1px lightgray;
  padding: 5px;
}
.header .header_title .header_title_left {
  width: 50%;
  float: left;
}
.header .header_title .header_title_left .welcome {
  padding-right: 20%;
}
.header .header_title .header_title_right {
  width: 40px;
  float: right;
  margin-right: 2%;
  text-align: right;
  height: 40px;
  border: solid 1px darkgrey;
  border-radius: 50%;
  font-size: 14px;
  overflow-x: hidden;
  text-align: center;
  overflow-wrap: break-word;
}
.header .header_main {
  height: 190px;
  padding: 5px;
  border-bottom: solid 1px darkgray;
}
.header .header_main .header_main_left {
  height: 180px;
  width: 25%;
  float: left;
}
.header .header_main .header_main_left .header_main_left_logo {
  height: 100px;
  text-align: center;
  display: none;
}
.header .header_main .header_main_left .header_main_left_desc .header_main_left_desc_name {
  text-align: center;
  font-size: 38px;
  color: limegreen;
}
.header .header_main .header_main_left .header_main_left_desc .header_main_left_desc_slogan {
  text-align: center;
  font-size: 13px;
}
.header .header_main .header_main_right {
  height: 180px;
  width: 75%;
  float: right;
}
.header .header_main .header_main_right .header_main_right_search {
  height: 150px;
  text-align: center;
  line-height: 60px;
}
.header .header_main .header_main_right .header_main_right_search input {
  height: 35px;
  margin-top: 40px;
  color: darkgray;
  text-align: center;
  width: 50%;
}
.header .header_main .header_main_right .header_main_right_nav li {
  float: left;
  list-style: none;
  text-align: center;
  cursor: pointer;
  margin: 0px 2%;
}
.foot {
  height: 60px;
  width: 100%;
  border-top: solid 1px lightgray;
  float: left;
  margin-top: 100px;
}
.foot .foot_info {
  height: 25px;
}
.foot .foot_info li {
  list-style: none;
  float: left;
  font-size: 14px;
  padding-right: 25px;
}
.foot .foot_copy {
  font-size: 14px;
}
